
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NemesisNevulaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NemesisNevulaWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estilos/estiloprincipal.css" asp-append-version="true" />
     

    <script src="https://kit.fontawesome.com/547a5afd2a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand resize" asp-area="" asp-controller="Home" asp-action="Index"><img class="logotipo" src="~/css/estilos/imagenes/logo.png" alt="Logotipo de Nemesis Nevula"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.CurrentPage == "Inicio" ? "nav-activo" : "")" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.CurrentPage == "Tienda" ? "nav-activo" : "")" asp-area="" asp-controller="Articulo" asp-action="Index">Tienda</a>
                        </li>
                        @if (User.FindFirstValue(ClaimTypes.Role) == "Administrador")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(ViewBag.CurrentPage == "CrearArticulo" ? "nav-activo" : (ViewBag.CurrentPage == "CrearNoticia" ? "nav-activo" : ""))" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Añadir
                                </a>
                                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                    <a class="nav-link   @(ViewBag.CurrentPage == "CrearArticulo" ? "nav-activo" : "")" asp-area="" asp-controller="Articulo" asp-action="Create">Artículo</a>
                                    <a class="nav-link   @(ViewBag.CurrentPage == "CrearNoticia" ? "nav-activo" : "")"  asp-area="nav-link" asp-controller="Noticia" asp-action="Create">Noticia</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.CurrentPage == "TodasNoticias" ? "nav-activo" : "")" asp-area="" asp-controller="Noticia" asp-action="Index">Todas las noticias</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.CurrentPage == "TodosArticulos" ? "nav-activo" : "")" asp-area="" asp-controller="Articulo" asp-action="VistaAdmin">Todos los artículos</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.CurrentPage == "Contacto" ? "nav-activo" : "")" asp-area="" asp-controller="Home" asp-action="Contacto">Contáctanos</a>
                        </li>
                       
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.FindFirstValue(ClaimTypes.Role) == "Normal")
                        {
                            <li class="nav-item d-flex align-content-center ">
                                <a class="btn btn-premium nav-link @(ViewBag.CurrentPage == "PREMIUM" ? "nav-activo" : "")" asp-area="" asp-controller="Usuario" asp-action="Details" style="color:black;">PREMIUM</a>
                            </li>
                        }
                        <li class="nav-item">
                            <p class="text-warning mt-2 m-2">0.00 €</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.CurrentPage == "Perfil" ? "nav-activo" : "")" href="@Url.Action("Details","Usuario", new { id = User.FindFirstValue(ClaimTypes.NameIdentifier)})">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Details","Usuario", new { id = User.FindFirstValue(ClaimTypes.NameIdentifier)})">
                                <img class="rounded-circle" src="~/css/estilos/imagenes/ge.jpeg" alt="foto de usuario" style="width: 40px; height: 40px;" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-light">
        <div class="container">
            &copy; 2023 - Nemesis Nevula - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  
</body>
</html>
