@model IEnumerable<NemesisNevulaWeb.Models.TarjetaCreditoVM>

<div class="container mt-5">
    <div class="card-body">
        <div class="mb-2">
            @Html.ActionLink("Crear Tarjeta de crédito", "Create", "TarjetaCredito", new { @class = "btn btn-aceptar" })
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-white">
                        <div class="card-header">
                            <h5>Nombre:</h5> @Html.DisplayFor(modelItem => item.NombreEnTarjeta) <br />
                        </div>
                        <div class="card-body">

                            <strong>Número:</strong> @Html.DisplayFor(modelItem => item.Numero) <br />
                            <strong>Código de Seguridad:</strong> @Html.DisplayFor(modelItem => item.CodigoSeguridad) <br />
                            <strong>Fecha de Expedición:</strong> @Html.DisplayFor(modelItem => item.FechaExpedicion) <br />
                            <strong>Tipo de Tarjeta:</strong> @Html.DisplayFor(modelItem => item.TipoTarjeta) <br />
                        </div>
                        <div class="card-footer d-flex ">
                            <div class="p-1">
                                @Html.ActionLink("Editar", "Edit", "TarjetaCredito", new { id = item.Id }, new { @class = "btn btn-aceptar " })
                            </div>
                            <div class="p-1">
                                @Html.ActionLink("Eliminar", "Delete", "TarjetaCredito", new { id = item.Id }, new { @class = "btn btn-cancelar " })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>