@model Tuple<NemesisNevulaWeb.Models.ArticuloVM, IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>, IEnumerable<NemesisNevulaWeb.Models.ArticuloVM>>

@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Item1.Nombre);
    Layout = "~/Views/Shared/_Layout.cshtml";

    string floatToString(float precio)
    {
        string rep = precio.ToString("0.00");
        return rep.Replace(",", ".");
    }
}

<div class="col-12">
    <div class="d-flex flex-row row">
        <div class="w-75">
            @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Administrador")
            {
                <div class="mb-2">
                    <a class="btn btn-aceptar" href="@Url.Action("Edit", new { id = Model.Item1.Id })">Editar</a>
                    <a class="btn btn-cancelar" href="@Url.Action("Delete", new { id = Model.Item1.Id })">Borrar</a>
                </div>
            }
            <div class="d-flex flex-row col">
                <div class="w-50">
                    <img class="card-img w-100 h-100" src="~/css/estilos/imagenes/@Html.DisplayFor(model => model.Item1.Fotografia)" alt="@Html.DisplayFor(model => model.Item1.Nombre)" />
                </div>
                <div class="card bg-black text-white flex-fill w-50">
                    <div class="card-body w-100">
                        <h1>@Html.DisplayFor(model => model.Item1.Nombre)</h1>
                        <hr />
                        <div class="d-flex justify-content-between">
                            <p class="card-text fw-bold tiny-etiqueta fs-4 precio">@Html.DisplayFor(model => model.Item1.Precio)</p>
                            <p class="card-text tiny-etiqueta color-@Html.DisplayFor(model => model.Item1.Rareza)">@Html.DisplayFor(model => model.Item1.Rareza)</p>
                        </div>
                        <p class="card-text">Temporada: <strong class="fw-bolder">@Html.DisplayFor(model => model.Item1.Temporada)</strong></p>
                        <p class="card-text fw-bold">🏷️ @Html.DisplayFor(model => model.Item1.Tipo)</p>
                        <p class="card-text fw-bold">@Html.DisplayFor(model => model.Item1.Descripcion)</p>
                        <div class="card-footer d-flex flex-column justify-content-center">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-aceptar" href="@Url.Action("Login","Usuario")">Comprar</a>
                                <a class="btn btn-cancelar mt-2" href="@Url.Action("Login","Usuario")">Regalar</a>
                            }
                            else
                            {
                                <a class="btn btn-aceptar" asp-controller="Compra" asp-action="Create" asp-route-id="@Model.Item1.Id" asp-route-precio="@floatToString(Model.Item1.Precio)" asp-route-regalo="false">Comprar</a>
                                <a class="btn btn-cancelar mt-2" asp-controller="Compra" asp-action="Create" asp-route-id="@Model.Item1.Id" asp-route-precio="@floatToString(Model.Item1.Precio)" asp-route-regalo="true">Regalar</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-25 col">
            @await Html.PartialAsync("_NoticiasParcial", (IEnumerable<NemesisNevulaWeb.Models.NoticiaVM>)Model.Item2)
        </div>
    </div>
    <div class="text-start row">
        <p class="card-text valoracion-@Html.DisplayFor(model => model.Item1.Valoracion) fs-3"></p>
        <h3>Previsualización</h3>
        <hr/>
        <div class="w-50 d-flex align-content-lg-center">
            <img class="card-img w-100 h-100 mb-4" src="~/css/estilos/imagenes/@Html.DisplayFor(model => model.Item1.Fotografia)" alt="@Html.DisplayFor(model => model.Item1.Nombre)" />
        </div>
    </div>
    <div class="w-25 col">
        @await Html.PartialAsync("_ArticulosParcial", (IEnumerable<NemesisNevulaWeb.Models.ArticuloVM>)Model.Item3)
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-aceptar" asp-action="Index">Volver</a>
    </div>
</div>