@model NemesisNevulaWeb.Models.ArticuloVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ArticuloVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rareza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rareza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valoracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsPublicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsPublicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Previsualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Previsualizacion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
