@model IEnumerable<NemesisNevulaWeb.Models.ArticuloVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .valoracion-0::after {
        font-size:larger;
        color:yellow;
        content: '☆☆☆☆☆';
    }

    .valoracion-1::after {
        font-size:larger;
        color: yellow;
        content: '★☆☆☆☆';
    }

    .valoracion-2::after {
        font-size:larger;
        color: yellow;
        content: '★★☆☆☆';
    }

    .valoracion-3::after {
        font-size:larger;
        color: yellow;
        content: '★★★☆☆';
    }

    .valoracion-4::after {
        font-size:larger;
        color: yellow;
        content: '★★★★☆';
    }

    .valoracion-5::after {
        font-size:larger;
        color: yellow;
        content: '★★★★★';
    }

    .card {
        cursor:pointer;
    }

    .card:hover {
        background-color: #584383 !important; /* Color de fondo al hacer hover */
        transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    }

</style>


<h1>Tienda</h1>

<div>
    <p>
        <a asp-action="Create" class="btn btn-aceptar">Crear artículo</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <a class="text-white" href="@Url.Action("Details", new { id = item.Id })">
                    <div class="card bg-dark text-white position-relative">
                        <img src="~/css/estilos/imagenes/@Html.DisplayFor(modelItem => item.Fotografia)" class="card-img" alt="@Html.DisplayFor(modelItem => item.Nombre)" />
                        <p class="card-text position-absolute top-0 end-0 tiny-etiqueta" style="background-color: mediumpurple;">@Html.DisplayFor(modelItem => item.Rareza)</p>
                        <div class="card-body">
                            <h5 class="card-title text-warning fw-bold text-uppercase">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <div class="d-flex justify-content-between">
                                <p class="card-text fw-bold tiny-etiqueta fs-4" style="background-color: yellow; color:black;">@Html.DisplayFor(modelItem => item.Precio)</p>
                                <p class="card-text fw-bold">@Html.DisplayFor(modelItem => item.Tipo)</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="card-text valoracion-@Html.DisplayFor(modelItem => item.Valoracion)"></p>
                            <div class="btn-group" role="group" hidden>
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
