@model IEnumerable<NemesisNevulaWeb.Models.ArticuloVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    display: flex;
    justify-content: center;
</style>

<h1>Index</h1>

<div>
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear artículo</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <p class="card-text"><strong>Precio:</strong> @Html.DisplayFor(modelItem => item.Precio)</p>
                        <p class="card-text"><strong>Tipo:</strong> @Html.DisplayFor(modelItem => item.Tipo)</p>
                        <p class="card-text"><strong>Rareza:</strong> @Html.DisplayFor(modelItem => item.Rareza)</p>
                        <p class="card-text">
                            <strong>Valoración:</strong> @Html.DisplayFor(modelItem => item.Valoracion) Estrellas
                            <a asp-controller="ValoracionArticulo" asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Valorar</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
