@model NemesisNevulaWeb.Models.UsuarioVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h3 {
        color: #333;
        margin-bottom: 10px;
    }

    .acciones-usuario{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
</style>

<h1>Mis datos</h1>

<div>
    <h4>Tus datos personales:</h4>
    <hr />
    <div class="row" style="justify-content:center;">
        <div class="col-sm-3">
            <b>Foto de perfil: </b><br /><br />
            <img src="~/css/estilos/imagenes/@Html.DisplayFor(model => model.Foto_perfil)" width="300" />
            <br />
        </div>
    <dl class="col-sm-3">
        <dd class = "col-sm-12">
            <b>Nombre: </b><br />
            @Html.DisplayFor(model => model.Nombre)
            <br /><br />
        </dd>
        <dd class = "col-sm-12">
            <b>Correo: </b><br />
            @Html.DisplayFor(model => model.Correo)
            <br /><br />
        </dd>
        <dd class = "col-sm-12">
            <b>Saldo de tu cartera:</b><br />
            @Html.DisplayFor(model => model.Cartera)
            <br /><br />
        </dd>
        <dd class="col-sm-12">
            <b>Puntos Nevula:</b><br />
            @Html.DisplayFor(model => model.PuntosNevula)
        </dd>
        </dl>
    </div>
</div>
<hr />
<div class="acciones-usuario">
    @Html.ActionLink("Edita tus datos", "Edit", new { id = Model.Id })<br />
    <a>Volver</a>
</div>
