@model IEnumerable<NemesisNevulaWeb.Models.UsuarioPremiumVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Crear Nuevo</a>
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th class="d-none d-md-table-cell">
                            @Html.DisplayNameFor(model => model.Foto_perfil)
                        </th>
                        <th class="d-none d-md-table-cell">
                            @Html.DisplayNameFor(model => model.Pass)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-wrap">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td class="text-wrap">
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td class="d-none d-md-table-cell text-wrap">
                                @Html.DisplayFor(modelItem => item.Foto_perfil)
                            </td>
                            <td class="d-none d-md-table-cell text-wrap">
                                @Html.DisplayFor(modelItem => item.Pass)
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-info" href="@Url.Action("Edit", new { id = item.Id })">Editar</a>
                                    <a class="btn btn-secondary" href="@Url.Action("Details", new { id = item.Id })">Detalles</a>
                                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
